.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxcard {
  width: 30vw;
  height: 26vh;
  background-color: #120ef070;
  border-radius: 0.9em;
  box-shadow: 2px 2px 2px #1C1C1C;
}

.Title {
  color: #f70303;
  text-shadow: 1px 1px 1px black;
}

.TitleTwo {
  color: rgb(97, 94, 94);
  text-shadow: 1px 1px 1px black;
}

.TitleTree {
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
}